<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pets' %}">На главную</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.has_add_pets_perm %}
                    <li><a href="{% url 'pet create' %}">Добавить животное</a></li>
                {% endif %}
            </ul>
        </div>
        <span class="navbar-text">
            Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a>
        </span>
    </div>
</nav>