{% extends 'base.html' %}
{% block title %}{{ pet.kind }} {{ pet }} из приюта {{ pet.shelter }}{% endblock %}
{% block content %}
    <b>Это страница животного по кличке {{ pet }}</b>
    <p>{{ pet }} - {{ pet.kind }}</p>
    <p>Его вес: {{ pet.weight }} кг</p>
    <p>Рост: {{ pet.height }} см</p>
    <p>Возраст (полных лет): {{ age }}</p>
    <p>Прибыл в приют: {{ pet.arrival_date|date:"j E Y" }} года</p>
    <p>Особые приметы: {{ pet.signs }}</p>
    {% if pet.photo %}
        <img src="{{ pet.photo.url }}">
    {% endif %}
    <p>
        {% if request.user.has_change_pets_perm %}
            <a href="{% url 'pet update' pet.pk %}">Обновить</a>
        {% endif %}
        {% if request.user.has_delete_pets_perm %}
            | <a href="#" data-bs-toggle="modal" data-bs-target="#pet_delete" rel="nofollow">Удалить</a>
        {% endif %}
    </p>
    {% include 'inc/_modal.html' %}
{% endblock %}